body {
  margin: 0;
  background-color: $secondary;
  color: $primary;
}

a,
p,
input {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: $primary;
  font-size: $default-font-size;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary;
  margin: 0;
  padding: 0;
}

a {
  font-weight: bold;
}

a:hover {
  color: $sandy-brown;
}
.navbar {
  li {
    list-style-type: none;

    a {
      font-size: $default-font-size;
    }

    .active {
      text-decoration: underline;
    }
  }
}

#content {
  width: 100vw;
  min-height: $content-min-height;

  #home,
  #signIn,
  #register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: $content-min-height;

    .subHeader {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: calc(2 * #{$spacer});

      .lead {
        font-weight: 700;
      }
    }

    .subContent {
      display: flex;
      justify-content: space-around;

      article {
        margin-top: 1rem;
      }
    }
  }
}

.title {
  font-size: 4rem;
}

.lead {
  font-size: 2rem;
}

.button {
  background-color: $secondary;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  color: $primary;
  font-weight: normal;
  font-size: 1.4em;
  text-transform: uppercase;

  &.primary {
    background-color: $primary;
    color: $secondary;
  }

  &.warning {
    color: #842029;
    font-weight: bold;
    background-color: #f8d7da;

    &:hover {
      color: red;
    }
  }

  &:hover {
    color: $sandy-brown;
  }
}

.button-close {
  background: none;
  border: none;
  background-image: url("../img/close.svg");
  height: $default-font-size;
  width: $default-font-size;
}

.alerts {
  position: absolute;
  width: 90vw;
  left: 5vw;
  .alert {
    margin-bottom: $spacer;
    padding: calc(0.5 * #{$spacer});
    min-height: $default-font-size;
    border-radius: 0.3rem;
    font-weight: 700;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
    }

    &.success {
      background-color: #d1e7dd;
      border-color: #badbcc;
      color: #0f5132;
    }

    &.error {
      background-color: #f8d7da;
      border-color: #c69397;
      color: #842029;
    }

    &.warning {
      background-color: #fff3cd;
      border-color: #ffecb5;
      color: #664d03;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  .field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: $spacer;

    label {
      font-size: 1.2em;
      margin-bottom: calc(0.5 * #{$spacer});
    }
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    .field {
      margin-left: $spacer;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .button {
    margin-top: $spacer;
  }
}
