#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100vw;
  .sideNav {
    margin: 0;
    padding: 0;
    width: 15vw;
    .navbar {
      li {
        list-style-type: none;

        a {
          font-size: 1.5em;
        }
      }
    }
  }

  .subContent {
    width: 75vw;
    .completion {
      position: relative;
      .types {
        position: absolute;
        top: calc(#{$spacer} * 0.25);
        .type {
          margin: 0;
          margin-right: calc(#{$spacer} * 0.25);
          background-color: $yellow-orange-crayola;
          color: $primary;
          font-size: $default-font-size !important;
          &:hover {
            background-color: $sandy-brown;
          }
        }
      }
    }
    .rounds {
      input,
      label {
        font-size: $default-font-size;
        color: $primary;
      }
      .button.primary {
        margin-top: 0;
        margin-bottom: $spacer;
      }
      .round {
        margin-bottom: $spacer;
        border: 1px solid $primary;
        .lead {
          display: flex;
          justify-content: space-between;
          margin: $spacer;
        }
        .button {
          font-size: $default-font-size;
          &.warning {
            margin: 0;
          }
        }
        .button.primary {
          margin-left: $spacer;
        }
        .field {
          margin-left: $spacer;
        }
      }
    }
    .goals {
      .goal {
        &:first-of-type {
          margin-top: $spacer;
        }
        .movement {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 0;
          label {
            margin: 0;
          }
          .movementInput {
            flex-grow: 2;
            margin-left: $spacer;
            margin-right: $spacer;
            display: flex;
            flex-direction: column;
            input {
              width: 100%;
              box-sizing: border-box;
            }
          }
          .button {
            margin-right: $spacer;
          }
        }
      }
      .divider {
        border: none;
        border-top: 1px solid $primary;
        margin-top: 0;
        margin-bottom: $spacer;
      }
    }
    .group {
      .field {
        display: flex;
        flex-direction: row;
        justify-content: flex-start !important;
        align-items: center;
        label {
          margin: 0;
        }
        input[type="number"] {
          width: calc(#{$default-font-size} * 3);
        }
      }
    }
  }
}
