#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .navbar {
    min-width: 20vw;
    li {
      list-style-type: none;

      a {
        font-size: 1.5em;
      }
    }
  }

  .subContent {
    .rounds {
      margin-bottom: $spacer;
      input,
      label {
        font-size: $default-font-size;
        color: $primary;
      }
      .round {
        padding: $spacer;
        margin-top: $spacer;
        margin-bottom: calc(#{$spacer} * 0.5);
        border: 1px solid $primary;
        .lead {
          display: flex;
          justify-content: space-between;
          margin-bottom: calc(#{$spacer} * 0.5);
        }
        .button {
          font-size: $default-font-size;

          &.warning {
            margin: 0;
          }
        }

        .group {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
