#home {
  .subContent {
    .column {
      margin-left: calc(#{$spacer} / 2);
      margin-right: calc(#{$spacer} / 2);
    }
  }
  .subscribe {
    display: flex;
    justify-content: space-around;
    margin-top: $spacer;

    .button {
      display: inline-block;
      margin-left: $spacer;
      margin-right: $spacer;
    }
  }
}
