body {
  margin: 0;
}

a {
  color: $primary;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

header {
  background-color: $secondary;
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $primary;

  .logo {
    margin-left: $spacer;
    a {
      display: flex;
      align-items: center;
      flex-direction: row;

      .brand_logo {
        height: $logo-height;
      }

      .brand_name {
        margin-left: $spacer;
        font-weight: bold;
      }
    }
  }

  .navbar {
    margin-right: $spacer;

    .crumbs {
      display: flex;
      flex-direction: row;

      li {
        list-style-type: none;
        margin-left: 2rem;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

#content, #background {
  width: 100vw;
  min-height: $content-min-height;
}
#background {
  background-image: $main-background;
  background-size: cover;
  filter: blur(3px) opacity(0.5);
}
#content {
  position: absolute;
  top: $header-height;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 4rem;
}

.lead {
  font-size: 2rem;
}

.button {
  background-color: $secondary;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: $primary;
  font-weight: normal;
  text-transform: uppercase;
}
