body {
  margin: 0;
  background-color: $secondary;
}

a {
  color: $primary;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

header {
  height: $header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $primary;

  .logo {
    margin-left: $spacer;
    a {
      display: flex;
      align-items: center;
      flex-direction: row;

      .brand_logo {
        height: $logo-height;
      }

      .brand_name {
        margin-left: $spacer;
        font-weight: bold;
      }
    }
  }

  .navbar {
    margin-right: $spacer;

    .crumbs {
      display: flex;
      flex-direction: row;

      li {
        list-style-type: none;
        margin-left: 2rem;

        &:first-child {
          margin-left: 0;
        }

        .active {
          text-decoration: underline;
        }
      }
    }
  }
}

#content {
  width: 100vw;
  min-height: $content-min-height;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: $content-min-height;

    .subHeader {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: calc(2 * #{$spacer});

      .lead {
        font-weight: 700;
      }
    }

    .subContent {
      min-width: 60vw;
      display: flex;
      justify-content: space-around;

      article {
        margin-top: 1rem;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 4rem;
}

.lead {
  font-size: 2rem;
}

.button {
  background-color: $secondary;
  border-radius: 0.3rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  color: $primary;
  font-weight: normal;
  font-size: 1.4em;
  text-transform: uppercase;

  &.primary {
    background-color: $primary;
    color: $secondary;
  }
}
